body{
    background-image: url("images/bg3.jpg");
}
nav{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    height:90px;

}
.container{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

#submit{
    background-color: #3B6285;
}

.card{
    border-radius:15px;
    border:0;
    text-transform: uppercase; 
    background-color: rgba(255,255,255, 0.2) !important;
}


#head{
    background-color:#3B6285 !important;
}

#cardForm{
    background-color: transparent;
}

