nav{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    background-color: #3B6285;
    height:90px;

}
.container{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.jumbotron{
    background-image: url("images/banner.png");
    height:300px;
}

#submit{
    background-color: #F7A26D;
}

.card{
    border-radius:15px;
    border:0;
    background-color: transparent;
    text-transform: uppercase; 
  
}

